<article>
  <div class="row-content">
    <h2><span class='date'>{{date}}</span> {{#linkTo 'embercasts.embercast' this}}{{title}}{{/linkTo}}</h2>
    <p>
      <span class='keywords'>keywords</span>
      {{#each keywords}}
        <span class='keyword'>{{this}}</span>
      {{/each}}
    </p>
    <video class="sublime" width="640" height="360" data-autoresize="fit" {{bindAttr id="youtube_id" data-uid="youtube_id" data-youtube-id="youtube_id"}} preload="none"></video>

    <h3>{{description}}</h3>
  </div>
</article>
