<% for cast in @embercasts %>
  <video width="1000" height="600" controls>
    <%= tag :source, src: cast.mp4_url,  type: 'video/mp4'%>
    <%= tag :source, src: cast.webm_url, type: 'video/webm'%>
  </video>

  <h1><%= link_to cast.title, embercast_path(cast.slug) %></h1>
  <%= cast.description_html %>

  <p><%= link_to 'Browse Source Code', cast.source_url %></p>
  <p>Published on <%= time_tag cast.published_at %></p>
  <p>Duration: <%= cast.time %></p>

  <h2>Keywords</h2>
  <ul>
    <% for keyword in cast.keywords %>
      <li><strong><%= keyword %></strong></li>
    <% end %>
  </ul>

<% end %>
