<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
  <title>Ember.js Screencasts - Embercasts</title>
  <%= embercast_json %>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="Ember.js Screencasts - Embercasts"/>
  <meta property="og:url" content="http://www.embercasts.com/"/>
  <meta property="og:image" content="http://www.embercasts.com/assets/og-logo.jpeg"/>
  <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0">
</head>
<body>
  <%= javascript_include_tag "application" %>
  <style type='text/css'>
    a#barometer_tab{background-image:url(../images/feedback_tab.png);background-color:#222;color:#FFF;cursor:pointer;height:102px;left:0;margin-left:-7px;overflow:hidden;position:fixed;text-indent:-100000px;top:25%;width:42px;z-index:100000;}#barometer_overlay{top:0;left:0;width:100%;height:100%;position:fixed;_position:absolute;z-index:1000000;}#barometer_overlay *{font-family:Arial, Helvetica, sans-serif;font-style:normal;font-variant:normal;font-size:12px;color:#333;margin:0;padding:0;}#barometer_main{width:550px;height:100%;z-index:2;position:relative;background-color:transparent;margin:0 auto;}#barometer_main div{background:#EEE;overflow:none;border-right:solid 2px #000;border-left:solid 2px #000;margin:0;padding:5px 20px 0;}#barometer_overlay #barometer_main #overlay_loading h2{font-size:28px;padding:10px 0;}#barometer_overlay #barometer_main #barometer_close:hover{background-position:-42px 0;}#barometer_overlay #barometer_main a#barometer_close{background-image:url(../images/barometer_close.png);cursor:pointer;height:42px;outline-color:0;outline-style:none;outline-width:medium;overflow:hidden;position:absolute;top:-23px;right:-22px;width:42px;z-index:4;border:none;}#barometer_overlay #barometer_main span{background:url(../images/close.png) no-repeat scroll 33px 0 transparent;color:#FFF;cursor:pointer;float:right;font-size:11px;height:20px;padding-right:20px;text-decoration:underline;}#barometer_iframe{width:550px;height:100%;background:transparent url(../images/barometer_loading.png) no-repeat;}#barometer_iframe.loaded{background:transparent;}#barometer_overlay #barometer_main #overlay_header{background-color:#333;font-weight:700;height:18px;border:solid 2px #000;padding:6px 5px 1px 0;}#barometer_overlay #barometer_main #overlay_header a{color:#fff;float:left;font-size:15px;margin-left:5px;font-weight:400;}#barometer_overlay #barometer_main #overlay_header span{float:right;height:20px;padding-right:20px;background:transparent url(../images/close.png) no-repeat 33px 0;text-decoration:underline;font-size:11px;cursor:pointer;color:#fff;}#barometer_screen{top:0;left:0;z-index:1;width:100%;position:absolute;background-color:#000;opacity:0.42;filter:alpha(opacity=42);-moz-opacity:0.42;}
    #barometer_overlay #barometer_main #overlay_header {height: 32px;}
  </style>
  <!-- inlined http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js -->
  <script type="text/javascript" charset="utf-8">
    var BAROMETER;

    if(BAROMETER == undefined) {
      BAROMETER = {};
    }

    BAROMETER.load = function(barometer_id) {
      this.barometer_id = barometer_id;
      this.empty_url = "http://getbarometer.s3.amazonaws.com/assets/barometer/images/transparent.gif";
      this.feedback_url = 'http://getbarometer.com/system/feedback_form/' + this.barometer_id;

      this.tab_html = '<a id="barometer_tab" onclick="BAROMETER.show();" href="#">Feedback</a>';
      this.overlay_html = '<div id="barometer_overlay" style="display: none;">' +
          '<div id="barometer_main" style="top: 130.95px;">' +
          '<a id="barometer_close" onclick="document.getElementById(\'barometer_overlay\').style.display = \'none\';return false" href="#"/></a>' +
          '<div id="overlay_header">' +
            '<a href="http://getbarometer.com">Powered by Barometer</a>' +
            '</div>' +
            '<iframe src="' + this.empty_url + '" id="barometer_iframe" allowTransparency="true" scrolling="no" frameborder="0" class="loading"></iframe>' +
            '</div>' +
            '<div id="barometer_screen" onclick="document.getElementById(\'barometer_overlay\').style.display = \'none\';return false" style="height: 100%;"/>' +
            '</div>' +
      '</div>';

      // document.write(this.tab_html);
      document.write(this.overlay_html);
    };

    BAROMETER.show = function() {
      document.getElementById('barometer_iframe').setAttribute("src", this.feedback_url);
      document.getElementById('barometer_overlay').style.display = "block";
      return false;
    };

    BAROMETER.load('Bryc1e1g4LHqcMDjKw2Hd');
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39223626-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <%= embercast_seo %>
</body>
</html>
